.toast-enter {
  opacity: 0;
  transform: translateY(-20px);
}

.toast-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms, transform 500ms;
}

.toast-exit {
  opacity: 1;
  transform: translateY(0);
}

.toast-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 500ms, transform 500ms;
}

.l-toast-container {
  padding: 10px 20px;
  border-radius: 5px;
  position: fixed;
  top: 20px;
  right: 50%;
  transform: translate(50%, 0);
  z-index: 1000;
}

.l-toast-container__default {
  background-color: var(--cyan);
  color: #fff;
}

.l-toast-container__success {
  background-color: var(--green);
  color: #fff;
}

.l-toast-container__warning {
  background-color: var(--yellow);
  color: #fff;
}

.l-toast-container__error {
  background-color: var(--red);
  color: #fff;
}