.l-toast-container {
  padding: 10px 20px;
  border-radius: 5px;
  position: fixed;
  top: 20px;
  right: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.l-toast-container__default {
  background-color: var(--cyan);
  color: #fff;
}

.l-toast-container__success {
  background-color: var(--green);
  color: #fff;
}

.l-toast-container__warning {
  background-color: var(--yellow);
  color: #fff;
}

.l-toast-container__error {
  background-color: var(--red);
  color: #fff;
}

.toast-enter {
  opacity: 0;
  transform: translate(-50%, -100%);
}

.toast-enter-active {
  opacity: 1;
  transform: translate(-50%, 0);
  transition: opacity 300ms, transform 300ms;
}

.toast-appear {
  opacity: 0;
  transform: translate(-50%, -100%);
}

.toast-appear-active {
  opacity: 1;
  transform: translate(-50%, 0);
  transition: opacity 300ms, transform 300ms;
}

.toast-exit {
  opacity: 1;
  transform: translate(-50%, 0);
}

.toast-exit-active {
  opacity: 0;
  transform: translate(-50%, -100%);
  transition: opacity 300ms, transform 300ms;
}